<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% if title is defined %}{{ title }} - {% endif %}Deuchnord Series Manager</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <!-- Materialize CSS -->
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
        <link rel="stylesheet" type="text/css" href="{{ asset('css/materialize.min.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('css/dsm.css') }}" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="{{ asset('js/jquery.min.js') }}"></script>
        <script src="{{ asset('js/materialize.min.js') }}"></script>
    </head>
    <body{% if bodyClass is defined %} class="{{ bodyClass }}"{% endif %}>
    	<div class="navbar-fixed">
        	<nav>
        		<div class="nav-wrapper {% block menuColor %}blue darken-1{% endblock %}">
        			<a href="{{ path('tvseries_index') }}" class="brand-logo">
        				<img src="{{ asset('app-logo.png') }}" alt="Deuchnord Series Manager" style="height: 64px" />
    				</a>
    				{% if noMenu is not defined %}
        			<ul id="nav-mobile" class="right">
        				{% block custom_icons_before_new %}{% endblock %}
        				<li><a href="{{ path('tvseries_new') }}" title="Add a new TV series"><i class="large material-icons">add</i></a></li>
        				{% block custom_icons_after_new %}{% endblock %}
        			</ul>
        			{% endif %}
        		</div>
        	</nav>
    	</div>
    	<div class="container{% if containerClass is defined %} {{ containerClass }}{% endif %}">
            {% block body %}{% endblock %}
            {% block javascripts %}{% endblock %}
        </div>
    </body>
</html>
