{% extends 'base.html.twig' %}
{% set title = "Mes séries" %}

{% block body %}
    <h1>Mes séries</h1>

    <table>
        <thead>
            <tr>
                <th>Série</th>
                <th>Réalisateur</th>
                <th>Année</th>
            </tr>
        </thead>
        <tbody>
        {% for tvSeries in tvSeries %}
            <tr>
                <td><a href="{{ path('tvseries_show', { 'id': tvSeries.id }) }}">{{ tvSeries.name }}</a></td>
                <td>{{ tvSeries.author }}</td>
                <td>{% if tvSeries.releasedAt %}{{ tvSeries.releasedAt|date('Y') }}{% endif %}</td>
                <td>{{ tvSeries.image }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('tvseries_new') }}">Create a new tvSeries</a>
        </li>
    </ul>
{% endblock %}
