{% extends 'base.html.twig' %}
{% set title = "My Series" %}

{% block body %}
    <h2>My Series</h2>

	<div class="row">
{% for tvSeries in tvSeries %}
    	<div class="col s12 m6">
            <div class="small card">
            	<div class="card-image">
            		<img src="{{ tvSeries.image }}" alt="{{ tvSeries.name }}" />
            		<span class="card-title">{{ tvSeries.name }}</span>
            	</div>
            	<div class="card-content">
            	    {{ tvSeries.description }}
        	    </div>
            	<div class="card-action">
            		<a href="{{ path('tvseries_show', { 'id': tvSeries.id }) }}" class="blue-text darken-4">More information</a>
        		</div>
        	</div>
    	</div>
{% endfor %}
    </div>
{% endblock %}
