{% extends 'base.html.twig' %}
{% set title = tvSeries.name %}

{% block custom_icons_before_new %}
	<li><a href="{{ path('tvseries_edit', { 'id': tvSeries.id }) }}"><i class="large material-icons">mode_edit</i></a></li>
	<li><a href="{{ path('tvseries_delete', { 'id': tvSeries.id }) }}"><i class="large material-icons">delete</i></a></li>
{% endblock %}

{% block body %}
	<div class="parallax-container login">
		<div class="parallax">
			<img src="{{ tvSeries.image }}" />
		</div>
	</div>
    <h1>{{ tvSeries.name }}</h1>

    <p>By {{ tvSeries.author }}</p>
    {% if tvSeries.releasedAt %}
    <p>Released on{{ tvSeries.releasedAt|date('Y-m-d H:i:s') }}</p>
    {% endif %}
    <p>{{ tvSeries.description }}</p>
    
    <script type="text/javascript">
    	$(document).ready(() => {
        	$('.parallax').parallax();
    	})
    </script>
{% endblock %}
